@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.PrimaryFont{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.SecondaryFont{
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.no-Scrollbar {
    overflow: scroll;
    scrollbar-width: none; 
}

.no-Scrollbar::-webkit-scrollbar {
    display: none; }


/* Default style for all slides */
.testimonial-swiper .swiper-slide {
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0.5;
  transform: scale(0.9);
}

/* Active (centered) slide */
.testimonial-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

/* Optional: slightly increase size of prev/next for better look */
.testimonial-swiper .swiper-slide-prev,
.testimonial-swiper .swiper-slide-next {
  opacity: 0.5;
  transform: scale(0.95);
}
