.footer-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.footer-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust as needed */
  height: 1px;
  width: 100%;
  background-color: #F27F0C;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer-link:hover::after {
  opacity: 1;
}
