@import "tailwindcss";


:root {
  background-color: #FCFAFA;
}
html, .body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}

.panel {
  will-change: transform;
}
